@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #e66767;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

.hero-pattern {
  background-image:
    radial-gradient(#f7cfc7 1px, transparent 1px),
    radial-gradient(#f7cfc7 1px, transparent 1px);
  background-position: 0 0, 12px 12px;
  background-size: 24px 24px, 24px 24px;
}
